RewriteEngine On
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L,QSA]

<IfModule mod_rewrite.c>
    RewriteEngine On
    # If the requested URI does not start with /public/, rewrite to /public/...
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L,QSA]
</IfModule>







# DO NOT REMOVE THIS LINE AND THE LINES BELOW PWPROTECTID:nRQQI7kkQx
AuthType Basic
AuthName "Restricted Access"
AuthUserFile /home/u742592429/domains/lei-register.co.uk/public_html/.htpasswd
Require valid-user
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE nRQQI7kkQx:PWPROTECTID

